<div class="wrapper">
    <form [formGroup]="signUpForm" (submit)="createUser()">
        <h1 *ngIf="formName!=='Add user'">Sign up</h1>
        <h1 *ngIf="formName==='Add user'">Mitarbeiter hinzufügen</h1>
        <div class="input-div">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="firstName">
                <mat-label>Vorname</mat-label>
            </mat-form-field>
        </div>
        <div class="input-div">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="lastName" type="text">
                <mat-label>Nachname</mat-label>
            </mat-form-field>
        </div>
        <div class="input-div birthdayWidth">
            <mat-form-field class="example-full-width" style='width:100%'>
                <input formControlName="birthday" [max]="maxDate" matInput [matDatepicker]="picker">
                <mat-label>Geburtsdatum</mat-label>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="input-div">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="phone_number" type="tel">
                <mat-label>Phone number</mat-label>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-select formControlName="user_type">
                <mat-option value="private">Privat
                </mat-option>
                <mat-option *ngIf="formName!=='Add user'" value="agency">Agency
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="input-div">
            <div class="errors" *ngIf="passErrors.length > 0">
                <span *ngFor="let er of mailErrors">
                    {{ er }}
                </span>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="email" type="email">
                <mat-label>Email</mat-label>
            </mat-form-field>
        </div>

        <div class="input-div">
            <div class="errors" *ngIf="passErrors.length > 0">
                <span *ngFor="let er of passErrors">
                    {{ er }}
                </span>
            </div>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">
                    Passwort muss mindestens 8 Zeichen lang sein
                </mat-error>
                <mat-error *ngIf="signUpForm.get('password')?.hasError('pattern')">
                    Passwort muss mindestens 1 Zahl und 1 Großbuchstabe haben
                </mat-error>
                <mat-label>Passwort</mat-label>
            </mat-form-field>
        </div>


        <button *ngIf="formName!=='Add user'" mat-button type="submit" class="accept-form">Sign
            up</button>
        <button *ngIf="formName==='Add user'" mat-button type="submit" class="accept-form">Hinzufügen</button>
    </form>
</div>