header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    span {
        color: rgb(127, 19, 68);
        font-size: 24px;
    }
}

.newTransferButton {
    background-color: rgb(127, 19, 68) !important;
    cursor: pointer;
    color: white !important;
    margin-left: 10px;
}

.logout {
    margin-left: 15px;
}

.signIn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
}