.wrapper {
    background: rgb(255, 255, 255);
    overflow-x: hidden;

    .transferForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(26 25 25 / 68%);
        padding: 10px 20px;
        position: absolute;
        bottom: 6%;
        left: 50%;
        transform: translateX(-50%);
        min-width: 80%;



        .formSubdiv {
            display: flex;
            align-items: center;
            gap: 20px;

            .addressInputWidth {
                width: 50%;

            }

            div {
                display: flex;
                flex-direction: column;
                color: white;
            }
        }
    }


    .accept-form {
        padding: 30px 60px;
        color: white;
        background-color: #CE5399;
    }
}

.invis {
    visibility: hidden;
}

.error {
    align-self: center;
    color: red;
    margin-bottom: 10px;
}

.destination {
    display: flex;
    flex-direction: column;
}